body, html { font-weight:400; margin:0; padding:0; width: 100%; height: 100%;  min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; }
body { background: #3d3d3d !important; }
strong { font-weight:700 }
small { font-size:.8em }
sup { font-size:.4em }
input, label { cursor: pointer; }
img { width: 100%; max-width: 100%;  height: auto; }
a { color:#ff4d00; }
.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover { color: #ff4d00; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #2b2e31;
}

div.slider-group-label { color: #DDD; display:none; text-align: center; margin-top: -10px; }
.ui.card.layer-sliders { display:none; width: 100%; margin: 10px 0 20px 0; }

.slider { width: 100%; display:block; clear:both;margin:0 0 7px 0; }
.slider .label, .slider input[type="range"] { display:inline-block; float:left; margin:0 0 7px 0; }
.slider .label { text-transform: capitalize; }
.slider .total { float:right; }

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 2px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #222222)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #3d3d3d 0, #222222 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #3d3d3d 0, #222222 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #3d3d3d 0, #222222 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #3d3d3d 0, #222222 100%); /* W3C */
}

/* Z INDEXS */
.cesium-viewer .cesium-viewer-timelineContainer { z-index: 2; }
.cesium-viewer .cesium-viewer-animationContainer { z-index: 3; }
.ui.feed.cv3d { z-index:4; }


.center { text-align:center }
.noselect, .noselect * { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; pointer-events: none; }

/* Responsive Video Wrapper */
.videoWrapper { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; clear:both; text-align: center; margin-bottom: 20px; margin-top:20px; }
.videoWrapper iframe, .videoWrapper object, .videoWrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:none !important; }

/* LOGO */
.ui.feed.cv3d { position:absolute; top: 10px; left: 50%; width:250px; margin:0 0 0 -125px; background: transparent; overflow:hidden; color:#ddd; }
.ui.feed>.event>.label { position: absolute; top: 0; left: 50%; margin: 0 0 0 -24px; z-index: 7; opacity:0.2; }
.ui.feed.cv3d>.event>.content .summary { margin: 0;font-size: 0.7em; font-weight: 700; color: rgba(255,255,255,.5); text-align: center; text-shadow: 1px 1px rgba(0,0,0,1); letter-spacing: 2px; }
.ui.feed.cv3d>.event>.content .summary a { margin: 0; font-size: 1.2em; font-weight: 700; color: rgba(255,255,255,.8); letter-spacing: 4px; }
.ui.feed.cv3d>.event>.content .summary a span { margin: 0; font-size: 1.2em; font-weight: 700; color: #ff4d00; letter-spacing: 4px; }
.ui.feed>.event:last-child>.content { margin: 0; padding-bottom: 0; z-index: 8; }

/* SLIDER */

.nslider {
    line-height: 100%;
    cursor: crosshair;
    margin: 0;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    padding: 0 !important;
    border-left-style: solid;
    display: inline-block;
    float: left;
    width: 333px;
    height: 22px;
}

.nslider .nslider-overlay {
  position: absolute;
  width: 300px;
  top: 4px;
  left: 47px;
  pointer-events: none;
  background: transparent;
  color: #FFF;
}
.ui.vertical.menu { width: 100%; }

/* MODAL */
.ui.modal a { color:#ff4d00; font-weight:700; }
.ui.modal>.content>.icon+.description, .ui.modal>.content>.image+.description { min-width: 100%; width: 100%; }
.ui.modal>.content>.description  { position: relative; padding: 15px; max-height: 300px; overflow: auto; display: inline-block; float:left; width: 100%; }
.ui.modal>.content>.description h4  { color:#FFF; }
.ui.modal>.content>.description h3  { color:#ff4d00; border-bottom:1px solid #333; padding-bottom: 7px; }
.shareModal.ui.header>.icon+.content { padding-left: 0; width: 100%; }
.ui.modal .ui.accordion .accordion .active.content, .ui.modal .ui.accordion .active.content.ui.card { width: 98%; background-color: #222;  padding: 15px; }
button.close span { color: #FFF; }

/* CESIUM WINDOW */
#cesiumContainer { background-color: #000000; position: relative; top: 0; left: 0; width: 100%; height: 100%;  min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; }
span.cesium-credit-image img { max-width: 100px; }
div#baseLayerPickerContainer { display: none; }
div.cesium-baseLayerPicker-dropDown { position: relative; top: auto; right: auto; left: auto; width: 96%; overflow: visible; display: table; margin: 0; border: 0; outline: 0; visibility:visible; background-color: transparent; border-bottom: 0; text-align: center; }
div.cesium-baseLayerPicker-item { width: 80px; text-align: center; cursor: pointer; }
.cesium-baseLayerPicker-itemLabel { color: #DDD; }
.cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemLabel { color: #FFFFFF; }
.cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemIcon { border: 2px solid #FFFFFF; }
div.cesium-baseLayerPicker-sectionTitle { display: block; font-family: sans-serif; color: #FFFFFF; margin: -7px 11px 11px 11px; padding: 9px; font-size: 1.2rem; text-transform: uppercase; font-weight: 700; border: 1px solid rgba(255,255,255,0.2); text-align: center; }
div.cesium-baseLayerPicker-sectionTitle i { color: #ff4d00; }
div.cesium-baseLayerPicker-sectionTitle:not(:first-child) { margin-top:11px; padding-top: 9px; }


/* CONTROL BUTTONS */
div.cv-toolbar { position:fixed; top: 64px; right: 0; left:auto; display:none; background: #3d3d3d; }
.ui.basic.buttons.cv-toolbar .button { background: #222 !important; }
button.ui.button.cv-button { text-align: left; background: #222 !important; }
button.ui.button.cv-button i, button.ui.button.cv-button span { color:#999; font-weight:700; }
button.ui.button.cv-button span { padding-left:7px; }
button.ui.button.cv-button:focus, button.ui.button.cv-button:hover { background: #000 !important; }
button.ui.button.cv-button:focus i, button.ui.button.cv-button:hover i { color: #FFFFFF !important; }
button.ui.button.cv-button:focus span, button.ui.button.cv-button:hover span { color: #ff4d00 !important; }
.ui.basic.buttons button.ui.button.cv-button:not(:first-child) { border-top:1px solid rgba(255,255,255,0.2); }
.ui.segment { border: 0; }

/* MAP INFO WINDOW */
.cesium-viewer-toolbar { display:none;}
.cesium-infoBox { width:480px; max-width:480px; overflow:hidden; padding:0; margin:0; z-index:10001; overflow-y: auto; -webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; -ms-overflow-scrolling: touch; -o-overflow-scrolling: touch; overflow-scrolling: touch; }
.cesium-infoBox .cesium-infoBox-camera, .cesium-infoBox .cesium-infoBox-close, { background:#3d3d3d; }
.cesium-infoBox-visible { width:480px; overflow:hidden; background: #FFF !important; padding:0;
  margin:0; z-index:10001; overflow-y: auto; -webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; -ms-overflow-scrolling: touch; -o-overflow-scrolling: touch; overflow-scrolling: touch; }
iframe.cesium-infoBox-iframe { background: #FFF !important; width: 480px; min-height:480px; }

.cesium-infoBox-title { padding:5px 24px; overflow:hidden; color:#FFFFFF; }

/* SIDEBAR */
.toolbar { width: 420px; position:absolute; top:0; right:0; left:auto; z-index:3; background:rgba(0,0,0,0.7); display:none; }
.toolbar-contents { width: 100%; position:relative; padding-top:5px; }
div.folder { display:none; }


.tabmenu-body { width: 420px !important; margin: 0; overflow:auto;-webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; -ms-overflow-scrolling: touch; -o-overflow-scrolling: touch; overflow-scrolling: touch; }

.tabmenu-footer.ui.bottom.attached.buttons { margin: 0; position:fixed; left:auto; right:0; bottom:0; height:40px; width: 420px !important;}
.ui.cv-button-group { border:1px solid #999; margin-bottom: 20px; margin:0; }
.ui.cv-button-group .ui.button.cv-button { background-color:#222; color:#DDD; }
.ui.cv-button-group .ui.button.cv-button i { font-size:24px; position: relative; left: -5px; }
.ui.button.cv-button>.icon { margin: 0; }
.ui.cv-button-group .ui.button.cv-button:not(:first-child) { border-left:1px solid rgba(255,255,255,0.2); }
.ui.cv-button-group .ui.button.cv-button:hover, .ui.cv-button-group .ui.button.cv-button:focus { background-color:#111111; color:#ff4d00; }


/* SIDEBAR TABS */
p.instruct { color:#999; text-align: center; font-size: 1rem; text-transform: uppercase; font-weight: 700; margin: 0; padding:13px 0;  }
p.instruct:not(:first-child) { padding: 13px 0; }
.ui.tab.segment.active { padding: 0 8px; background-color: transparent; }
.ui.tabular.menu .item { color:#CCC; }
.ui.tabular.menu .item:hover { background-color: transparent; color:#FFF; }
.ui.tabular.menu .active.item { background-color: #222; color: #FFF; border-bottom:transparent; border-radius: 0; }
.ui.tabular.menu+.bottom.attached.segment, .ui.tabular.menu~.bottom.attached.segment+.bottom.attached.segment { padding: 10px 0 0 0; background-color: #222; }
.ui.menu .item>a:not(.ui), .ui.menu .item>p:only-child, .ui.menu .text.item>* { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 1.3; color: #999; text-transform: uppercase; font-weight:700;}
.ui.menu .item:hover>a:not(.ui) { color: #ff4d00; }
.ui.menu .item:hover>a:not(.ui) i { color: #FFFFFF; }


/* SEARCH BAR */
.cesium-geocoder-searchButton { background-color: transparent; display: inline-block; position: absolute; cursor: pointer; width: 42px;
  top: 1px; right: 1px; height: 30px; vertical-align: middle; fill: #DDD; }
.cesium-svgPath-svg { width: 50%; height: 100%; margin-left: 25%; background-color: transparent; }
div.cesium-viewer-geocoderContainer { margin: 10px 0; display:block; }
.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input, .cesium-viewer-geocoderContainer .cesium-geocoder-input:focus, .cesium-viewer-geocoderContainer .cesium-geocoder-input-wide { width: 100%; color: #1982d1; outline-color: #1982d1; border: 0; border-top:0; background-color: #222; margin:0 auto; border-radius: 0; padding: 16px 42px 20px 16px; }

/*
 LAYER MENU
 .map-layers
 .lbw = layer button wrapper
 .lb = layer button
 */
div.map-layers { border-bottom:1px solid rgba(255,255,255,0.2); }
div.map-layers h2.toggle { cursor: pointer; text-align: left; font-size: 1.1em; margin: 0 auto; color: #999; text-transform: uppercase; text-decoration: none; padding: 6px 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding-left:20px; }
div.map-layers > h2.toggle { font-size: 1.3em; color: #ff4d00; border-top: 1px solid #555; text-align: center;  padding-left:0; }
div.map-layers h2.toggle.active { color: #FFFFFF; background:#3d3d3d; border-top:1px solid rgba(255,255,255,0.2); }
div.map-layers h2.toggle i { margin-right:10px; }
div.map-layers h2.toggle.active i { color: #ff4d00; }
div.map-layers > h2.toggle.active { color: #FFFFFF;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #222222)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #3d3d3d 0, #222222 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #3d3d3d 0, #222222 100%); /* W3C */ }
div.map-layers .item>i.icon.idea, div.map-layers .item>i.icon.warning.circle { color:#ff4d00; }
div.map-layers div.folder div.folder { background:#3d3d3d; margin:0; padding:10px 0; border-bottom:1px solid rgba(255,255,255,0.2); }

div.lbw { display: inline-block; width: 100%; background: transparent; position: relative; margin: 0; padding: 0 4%; box-sizing: border-box; }

div.lb {display: inline-block; width: 100%; background: transparent; position: relative; margin: 0 0 5px 0; padding: 0; box-sizing: border-box; font-size: 1.1em; }
div.lb span, div.lb i { color: #CCC; cursor: pointer; }
div.lb span.label.large-layer { color: #ff4335; }
div.lb span.label.new-layer { color: #2ecc40; }
div.lb i.close { position:relative; left:-1px; }
div.lb i.active, div.lb i.fail { color: #ff4d00; }
div.lb span.active { color: #FFF; }
div.lb span.label.fail { text-decoration: line-through; }

i.circular.inverted.info.icon, i.circular.inverted.download.icon, i.circular.inverted.file.icon, i.circular.inverted.clock.icon, i.circular.inverted.warning.icon { vertical-align: middle; background-color: #222 !important; }
i.circular.inverted.warning.icon { background-color: #ff4d00 !important; font-size: 2em; }



/* LAYER DETAILS */
.ui.card.layer-details { width:100%; margin:10px 0 20px 0; }
.ui.card>.content>.header.imagery-controls { margin-top:20px;}
.ui.card.layer-details .content .meta { margin-top: 18px; }
.ui.card.layer-details .content .header.main, 
.ui.card.layer-details .content .header.main i { color: #222; }
.ui.card.layer-details .content .ui.divided.list>.item { border-top: 1px solid rgba(39,41,43,.15); padding-top: .5rem; }
.ui.card.layer-details .content .ui.divided.list>.item:first-child { border-top: none; padding-top: 0; }
.ui.card.layer-details .content .ui.divided.list>.item.slider { border-top: none; margin: 0 auto; padding: 0; }
.ui.card.layer-details .content .ui.divided.list>.item.slider .meta { margin: 0; padding-bottom: 5px; border-top: 1px solid rgba(39,41,43,.15); padding-top: .5rem; }
.item .layer-details i.icon { left: auto; top: auto; float: none; }
div.content.active { top: 7px; position: relative; }
.layer-details .relaxed.list .header { margin-bottom: 5px; }
.datepicker.ui.button { margin-top: 10px; }


/* ABOUT */
.ui.tab.segment.active div.about-container { color:#999; }
.ui.tab.segment.active div.about-container a { color:#FFF; }
.ui.tab.segment.active div.about-container a.btn { margin:0 20px; background:#555;  }
.ui.tab.segment.active div.about-container p { margin:20px; }
.ui.tab.segment.active div.about-container h5 { margin:2px 20px; text-align: center; }
.ui.tab.segment.active div.about-container h3 { display: block; font-family: sans-serif; color: #ff4d00; margin: 11px; padding: 9px; font-size: 1.2rem; text-transform: uppercase; font-weight: 700; border: 1px solid rgba(255,255,255,0.2); text-align: center; }
.ui.tab.segment.active div.about-container h4 { display: block; font-family: sans-serif; color: #999; margin:11px; padding: 9px; font-size: 0.8rem; text-transform: uppercase; font-weight: 700; border: 1px solid rgba(255,255,255,0.2); text-align: center; }

/* SHARING */
div#share {
  text-align: center;
  margin: 0 0 10px 0;
}
.ui.tab.segment.active div.share-container h3 { display: block; font-family: sans-serif; color: #FFF; margin: 11px; padding: 9px; font-size: 1.2rem; text-transform: uppercase; font-weight: 700; border: 1px solid rgba(255,255,255,0.2); text-align: center; cursor: pointer; }
.ui.tab.segment.active div.share-container h3 i { color: #ff4d00; margin-right:5px; }

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices { padding-bottom: 23px !important; }
.stButton .stBubble_count { font-size: 14px !important; width: auto !important;  height: 32px !important; line-height: 8px !important; }
.stButton .stBubble { width: auto !important; height: 35px !important; }

/* CHAT WINDOW */
.ui.tab.segment.active div.panel-chat, .ui.tab.segment.active div.panel-comments { min-height: 120px; margin: 7px 0 20px 0; padding: 10px; }


/* COMMENTS */
div#disqus_thread { background-color: #fff; padding: 10px; border-radius: 5px; }
.chat-iframe { height: 600px; width: calc(100% - 20px); border: 0; background-color: #fff; margin: 10px; border-radius:7px; }
/* Date Picker */
.picker{font-size:16px;text-align:left;line-height:1.2;color:#000;position:absolute;z-index:10000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.picker__input{cursor:default}.picker__input.picker__input--active{border-color:#0089ec}.picker__holder{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;position:fixed;transition:background .15s ease-out,-webkit-transform 0s .15s;transition:background .15s ease-out,transform 0s .15s;-webkit-backface-visibility:hidden}/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */.picker__frame,.picker__holder{top:0;bottom:0;left:0;right:0;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}.picker__frame{position:absolute;margin:0 auto;min-width:256px;max-width:666px;width:100%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;opacity:0;transition:all .15s ease-out}.picker__wrap{display:table;width:100%;height:100%}@media (min-height:33.875em){.picker__frame{overflow:visible;top:auto;bottom:-100%;max-height:80%}.picker__wrap{display:block}}.picker__box{background:#fff;display:table-cell;vertical-align:middle}@media (min-height:26.5em){.picker__box{font-size:1.25em}}@media (min-height:33.875em){.picker__box{display:block;font-size:1.33em;border:1px solid #777;border-top-color:#898989;border-bottom-width:0;border-radius:5px 5px 0 0;box-shadow:0 12px 36px 16px rgba(0,0,0,.24)}}@media (min-height:40.125em){.picker__frame{margin-bottom:7.5%}.picker__box{font-size:1.5em;border-bottom-width:1px;border-radius:5px}}.picker--opened .picker__holder{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);zoom:1;background:rgba(0,0,0,.32);transition:background .15s ease-out}.picker--opened .picker__frame{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;opacity:1}@media (min-height:33.875em){.picker--opened .picker__frame{top:auto;bottom:0}}
 .picker__footer,.picker__header,.picker__table{text-align:center}.picker__day--highlighted,.picker__select--month:focus,.picker__select--year:focus{border-color:#0089ec}.picker__box{padding:0 1em}.picker__header{position:relative;margin-top:.75em}.picker__month,.picker__year{font-weight:500;display:inline-block;margin-left:.25em;margin-right:.25em}.picker__year{color:#999;font-size:.8em;font-style:italic}.picker__select--month,.picker__select--year{border:1px solid #b7b7b7;height:2em;padding:.5em;margin-left:.25em;margin-right:.25em}.picker__select--month{width:35%}.picker__select--year{width:22.5%}.picker__nav--next,.picker__nav--prev{position:absolute;padding:.5em 1.25em;width:1em;height:1em;box-sizing:content-box;top:-.25em}.picker__nav--prev{left:-1em;padding-right:1.25em}.picker__nav--next{right:-1em;padding-left:1.25em}@media (min-width:24.5em){.picker__select--month,.picker__select--year{margin-top:-.5em}.picker__nav--next,.picker__nav--prev{top:-.33em}.picker__nav--prev{padding-right:1.5em}.picker__nav--next{padding-left:1.5em}}.picker__nav--next:before,.picker__nav--prev:before{content:" ";border-top:.5em solid transparent;border-bottom:.5em solid transparent;border-right:.75em solid #000;width:0;height:0;display:block;margin:0 auto}.picker__nav--next:before{border-right:0;border-left:.75em solid #000}.picker__nav--next:hover,.picker__nav--prev:hover{cursor:pointer;color:#000;background:#b1dcfb}.picker__nav--disabled,.picker__nav--disabled:before,.picker__nav--disabled:before:hover,.picker__nav--disabled:hover{cursor:default;background:0 0;border-right-color:#f5f5f5;border-left-color:#f5f5f5}.picker--focused .picker__day--highlighted,.picker__day--highlighted:hover,.picker__day--infocus:hover,.picker__day--outfocus:hover{color:#000;cursor:pointer;background:#b1dcfb}.picker__table{border-collapse:collapse;border-spacing:0;table-layout:fixed;font-size:inherit;width:100%;margin-top:.75em;margin-bottom:.5em}@media (min-height:33.875em){.picker__table{margin-bottom:.75em}}.picker__table td{margin:0;padding:0}.picker__weekday{width:14.285714286%;font-size:.75em;padding-bottom:.25em;color:#999;font-weight:500}@media (min-height:33.875em){.picker__weekday{padding-bottom:.5em}}.picker__day{padding:.3125em 0;font-weight:200;border:1px solid transparent}.picker__day--today{position:relative}.picker__day--today:before{content:" ";position:absolute;top:2px;right:2px;width:0;height:0;border-top:.5em solid #0059bc;border-left:.5em solid transparent}.picker__day--disabled:before{border-top-color:#aaa}.picker__day--outfocus{color:#ddd}.picker--focused .picker__day--selected,.picker__day--selected,.picker__day--selected:hover{background:#0089ec;color:#fff}.picker--focused .picker__day--disabled,.picker__day--disabled,.picker__day--disabled:hover{background:#f5f5f5;border-color:#f5f5f5;color:#ddd;cursor:default}.picker__day--highlighted.picker__day--disabled,.picker__day--highlighted.picker__day--disabled:hover{background:#bbb}.picker__button--clear,.picker__button--close,.picker__button--today{border:1px solid #fff;background:#fff;font-size:.8em;padding:.66em 0;font-weight:700;width:33%;display:inline-block;vertical-align:bottom}.picker__button--clear:hover,.picker__button--close:hover,.picker__button--today:hover{cursor:pointer;color:#000;background:#b1dcfb;border-bottom-color:#b1dcfb}.picker__button--clear:focus,.picker__button--close:focus,.picker__button--today:focus{background:#b1dcfb;border-color:#0089ec;outline:0}.picker__button--clear:before,.picker__button--close:before,.picker__button--today:before{position:relative;display:inline-block;height:0}.picker__button--clear:before,.picker__button--today:before{content:" ";margin-right:.45em}.picker__button--today:before{top:-.05em;width:0;border-top:.66em solid #0059bc;border-left:.66em solid transparent}.picker__button--clear:before{top:-.25em;width:.66em;border-top:3px solid #e20}.picker__button--close:before{content:"\D7";top:-.1em;vertical-align:top;font-size:1.1em;margin-right:.35em;color:#777}.picker__button--today[disabled],.picker__button--today[disabled]:hover{background:#f5f5f5;border-color:#f5f5f5;color:#ddd;cursor:default}.picker__button--today[disabled]:before{border-top-color:#aaa}


/* MOBILE */
@media screen and (max-width: 1024px) {
  .ui.feed.cv3d { top: auto; bottom: 51px; }
}
@media screen and (max-width: 480px) {
  .ui.feed.cv3d { top: auto; bottom: 5px; }
  .ui.feed>.event>.label { display:none; }
  .ui.feed.cv3d>.event>.content .summary span.slogan { display:none; }
  .toolbar { width: 100%; }
  .tabmenu-body { width: 100% !important;}
  .tabmenu-footer.ui.bottom.attached.buttons { width: 100% !important;}
  button.ui.button.cv-button span { display:none; }

  #Greetz .header { font-size: 1.2em; }
  .ui.modal>.content>.description  { max-height: 200px; }
  .modal-dialog { top: 7px; }
  .cesium-viewer .cesium-widget-credits {display:none;}

  /* MAP INFO WINDOW */
  .cesium-infoBox { width:100%; max-width:100%; }
  .cesium-infoBox .cesium-infoBox-camera, .cesium-infoBox .cesium-infoBox-close, { background:#3d3d3d; }
  .cesium-infoBox-visible { width: 100%; height: 100%; height: calc(100% - 34px); top: 0; }
  iframe.cesium-infoBox-iframe { width: 100%; min-height: 100%; height:100%; }
  .cesium-infoBox-title { padding: 10px 46px; }
  button.cesium-infoBox-camera {left: 11px; width: 32px; height: 32px; }
  button.cesium-infoBox-close { display: block; position: absolute; top: 4px; right: 5px; height: 32px; width: 32px; font-size: 32px;    line-height: 32px; padding: 0; margin: 0; }
}
